// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

.form
  width: 100%
  padding: 40px 32px
  border: 1px solid
  border-radius: 6px
  text-align: center
  
.form-title
  margin: 0px 0px 16px 0px
  border-bottom: 1px solid 
  padding-bottom: 8px
  
