.search_wap.select
  display: flex
  position: relative
  width: 760px
  margin-right: 15px
  justify-content: flex-end
  input[type="text"]:not(.browser-default)
    position: relative
    box-sizing: border-box
    border: solid, 1px
    border-radius: 50px
    background: #F4F8F9
    height: 50px
    width: 100%
    padding: 10px 20px
    margin: 8px 0 8px 0
  .search__button
    background-color: transparent
    cursor: pointer
    position: absolute
    right: 0px
    top: 18px
    height: 30px
    width: 40px
    border-style: none
    border-radius: 0px 4px 4px 0px
    .icon_wap
      i
        position: absolute
        right: 5px
        top: 0px
        font-size: 30px
        font-weight: 900
        color: #999999
.search_wap
  display: none