.tweet-form
  width: 472px
  margin-left: 8px
  padding: 16px
  background-color: #fff
  .user-description-sapce-t
    width: 100
    .inline
      display: inline-block
  .user-activity-space-t
    width: 100%
    height: 30%
  .num-space-t
    display: inline-block
    text-align: center
    width: 15%