.tweet-form
  width: 472px
  margin-left: 8px
  padding: 16px
  border: 1px solid #9e9e9e
  background-color: #fff
  .user-description-sapce-t
    width: 100
  .user-activity-space-t
    width: 100%
    height: 30%
  .num-space-t
    display: inline-block
    width: 20%
    text-align: center
  textarea
    width: 438px
    height: 100px
    resize: none