/*
 *= require_tree .
 *= require material_icons
 *= require_self
 */
@import 'materialize';

.grid-example {
  font-weight: 100;
  line-height: 50px;
  border: 1px solid #eee;
  margin: 7px 0;
  background-color: tomato;
  color: white;
  font-size: 1.248rem;
  text-align: center;
}

.shadow-demo {
  background-color: #26a69a;
  width: 100px;
  height: 100px;
  margin: 20px auto;
}