// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/
@import 'materialize'
@import 'form'
@import 'button'

#registrations
  max-width: 1280px
  max-height: 791.04px
  background-image: asset-url("back.jpg")
  background-position: center center
  background-size: cover
  background-color: transparent
  background-repeat: no-repeat
  background-color: #050911
  #registrations-new
    .left-content
      display: inline-block
      vertical-align:  top
      width: 784px
      height: 711.04px
      margin-top: 80px
      margin-right: 16px 
      padding: 16px
      color: #fff
      text-shadow: 1px 1px 0 #000
      .title
        font-size: 38.121px
        margin: 0px
        margin-top: 10px
      .ex
        font-size: 23.561px
        margin: 45px 0px
    .right-content
      display: inline-block
      width: 480px
      height: 711.04px
      margin-top: 80px
      padding: 16px
      .login
        color: #fff
        text-decoration: underline 